.projects {
  margin-bottom: 215px;
}
.projects__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 127px;
  margin-bottom: 25px;
}
.projects__item {
  width: 48.5%;
  position: relative;
  margin-bottom: 64px;
}
.projects__link {
  text-decoration: none;
  
  &:hover,
  &:active {
    .projects__text {
      color: #8FFFFF;
      .transition();
    }
    .btn-arrow svg {
      stroke: #8FFFFF;
      .transition();
    }
  }
}
.projects__img {
  width: 100%;
  height: 380px;
  overflow: hidden;
  border-radius: 10px;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.projects__text {
  width: 425px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  
  h3 {
    margin-top: 0;
    margin-bottom: 8px;
  }
  p {
    margin: 0;
  }
}
.projects__btn {
  text-align: center;
}
.projects--internal {
  padding-top: 160px;
  
  .projects__list {
    display: block;
    margin-top: 45px;
  }
  .projects__item {
    width: 100%;
    margin-bottom: 110px;
  }
  .projects__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .projects__img {
    width: 49%;
    height: auto;
  }
  .projects__text {
    position: static;
    width: 49%;
    padding-left: 25px;
    transform: none;
    text-align: left;
    .transition();
    
    .btn-arrow {
      margin-top: 30px;
    }
  }
}
